@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand-Light.otf");
}
@font-face {
    font-family: "Indie";
    src: url("fonts/IndieFlower.ttf");
}
@font-face {
    font-family: "Walkway";
    src: url("fonts/Walkway_SemiBold.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Thin.ttf");
}

header {
    background: #339966;    /* #050505; */
    background: #2d8659;
    background: #000000;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
}

header a {
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.center {
    width: 100%;
    text-align: center;
}

.inline {
    display: inline;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.current-page {
    color: #ec93ec;
    font-weight: bold;
}

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#showcase img {
    width: 100%;
}

container p {
    max-width: 800px;
}

#contact-button {
    margin-top: 2em;
    font-size: 1.5em;
    background: #ec93ec;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    font-family: "Raleway";
    letter-spacing: 0.2em;
}

h2 {
    font-family: "Raleway";
}

.video {
    margin: 2em;
}

.first-title {
    margin-top: 2em;
}

.date {
    font-weight: bold;
    font-size: 1.1em;
}
.venue {
    font-size: 1.1em;
}
.website {
    font-size: 1.1em;
}
.website a {
    color: #ec93ec;
}

table {
    width: 100%;
}
td {
    padding: 16px;
}

footer {
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

footer p {
    color: #444444;
    font-size: 0.75em;
}
